@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 1.5em;
  background-image: url('./assets/books.jpg');
}

.container {
  border: 1px solid grey;
  padding: 1.5em;
  border-radius: 10px;
  padding-bottom: 3em;

  background-color: white;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.title {
  margin-bottom: 0.5em;

  color: black;
}

.title span {
  color: rgb(73, 31, 1);
}

.search {
  width: 100%;
  padding: 0.5em;
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: rgb(73, 31, 1);
}

.search:not(:placeholder-shown) ~ .result-container {
  border: 1px solid rgb(73, 31, 1);
  height: 65vh;
  padding: 0.5em;
  overflow: scroll;
}

.result,
.loading,
.error {
  margin-left: 0.6em;
  margin-bottom: 0.25em;
  font-size: 1.25rem;
}

.loading,
.error {
  color: rgb(73, 31, 1);
}

.result:hover,
.result:focus {
  cursor: pointer;
  background-color: lightgray;
}
